body {
    background: black;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2px;
    padding: 0 0 60px 0;
    margin: 0;
}

img {
    border-radius: 50%;
  }

p {
  line-height: 28px;
}

.profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    height: auto;
    max-width: 100px;
  }

.profile-name {
      text-align: center;
      padding: 30px;
  }

.links {
      text-align: center;
      margin-top: 20px;
      padding: 20px;
      border: 1px solid white;
      border-width: 2px;
      width: 290px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-radius: 40px;
  }

a {
    text-decoration: none;
    color: white;
    transition: color 1s; 
}

.bottom-text {
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
}

a:hover {
    color: #000;
    background: #fff;
}

.live-link {
  background: #dc3b32;
  border-color: #dc3b32;
}

.live-link:hover,
.live-link:focus
 {
  background: #ef1e12;
  border-color: #ef1e12;
  color: white;
}

.virtude-link {
  background: #5000ff;
  border-color: #5000ff;
}

.virtude-link:hover,
.virtude-link:focus
 {
  background: #7132fa;
  border-color: #7132fa;
  color: white;
}

.ative-link {
  background: #ff0060;
  border-color: #ff0060;
}

.ative-link:hover,
.ative-link:focus
 {
  background: #ff3a84;
  border-color: #ff3a84;
  color: white;
}

.page-wrap {
  max-width: 350px;
  margin: auto;
  padding: 0 20px;
  text-align: center;
}

.ative-green-link {
  background: #00ffc2;
  border-color: #00ffc2;
  color: black;
}

.ative-green-link:hover,
.ative-green-link:focus
 {
  background: #3ef6ca;
  border-color: #3ef6ca;
  color: black;
}